<div class="center hero-unit">
  <!-- <h1>Welcome to the Craft App</h1> -->

  <h2>
  	 Do something? Show your skill. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

