<li>
  <span class = "craft"><%= practice.craft_id %></span>
  <% if current_user?(practice.user) %>
    <%= link_to "delete", practice, method: :delete,
                                    data: { confirm: "You sure?" }%>
  <% end %>	
</li>
